@inherits LayoutComponentBase
<PageTitle>Магазин товаров для творчества</PageTitle>

<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Магазин для творчества</a>
    </div>
</nav>

<div class="container">
    @Body
</div>